.modal {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.modal::backdrop {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  text-align: center;
  padding: 30px 20px;
}

.modal-heading {
  font-weight: normal;
  margin-top: 0;
}
