/*
 * A component style layer added over polyfill styles
 */

.modal {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.modal[open] {
  animation: slide-up 0.4s ease-out;
}

.modal::backdrop {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

/*
 * Same styles for polyfill backdrop
 */
.modal + .backdrop {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  text-align: center;
  padding: 30px 20px;
}

.modal-heading {
  font-weight: normal;
  margin-top: 0;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
